.menu{
    &__hamburger {
        width: 45px;
        height: 45px;
        border: 1px solid $main-color;
        box-sizing: border-box;
        border-radius: 8px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        
        .bar1, .bar2, .bar3 {
            width: 20px;
            height: 2px;           
            background: #2E54B5;
            border-radius: 9px;
            margin-top: 4px;
            transition: 0.4s;
        }
        .bar1{
            margin-top: 0;
        }
        .change{
            &-1{
                transform: rotate(-45deg) translate(-4.5px, 3px);  
            }
            &-2 {
                opacity: 0; 
            }
            &-3 {
                transform: rotate(45deg) translate(-5px, -4px);
            }
        }
        
    }
}

.active {  
    visibility: visible;
}

.title {
    color: $text-color;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
}

.subtitle {
    font-family: 'Pantone-light';
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: #737889;
    opacity: 0.7;
    text-align: center;
}
.block{
    position: relative;
    width: 100%;
    min-height: 438px; 
    background: linear-gradient(297.24deg, rgba(232, 239, 252, 0.25) 8.25%, rgba(255, 255, 255, 0.25) 91.76%), #FFFFFF;
    border-radius: 41.4804px;
    z-index: 2;
    padding: 36px 28px 28px;
    z-index: 50;
    &__sub{
        position: absolute;
        width: 95%;
        height: 136px;
        background: #ffffff;
        opacity: 0.4;
        border-radius: 41.4804px;
    }
    &__second{
        position: absolute;
        width: 79%;
        height: 136px;
        background: #faf8f8;
        opacity: 0.2;
        border-radius: 41.4804px;
    }
}