section.about 
    .container 
        h2.title Lorem Ipsum
        .subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
        .about__wrapper 
            +about-block
            +about-block
            +about-block
