section.app 
    .container 
        h2.title All-in-one app
        .subtitle A comprehensive mobile application that guarantees a unique user experience
        .app__wrapper
            .block.app__block
                .app__content
                    .app_items
                        +app-block
                        +app-block
                        +app-block
                    .app__phone
                        img(src="../img/phone-sm.svg", alt="Iphone frame")
                        .app__dots.app__dots_1 
                            +svg-dots
                        .app__video 
                            span Video 
                        .app__dots.app__dots_2
                            +svg-dots
            .block__sub.app__block_sub

                
