section.contact 
    .container
        h2.title Keep in touch !
        .subtitle A comprehensive mobile application that guarantees a unique user experience
        .block.contact__block
            form(action="") 
                input(type="email", name="" class="contact__input" placeholder = "Enter your email address")
                button(type="submit" class="btn contact__btn") Sign Up
        .block__sub.contact__block_sub
        .block__second.contact__block_second
