footer.footer
    .footer__bg 
        .container 
            .footer__wrapper
                .footer__logo
                    a(href="") 
                        img(src="../icons/logo.svg", alt="logo") 
                nav.footer__nav 
                    .footer__nav-item.footer__contact 
                        h3.footer__title Contact
                        .footer__contacts 
                            .footer__email  
                                a(href="") contact@lorem.com
                        .footer__team Team
                    .footer__nav-item.footer__technology 
                        h3.footer__title Technology
                        a(href="") dolor
                        a(href="") dolor
                        a(href="") dolor 
                    .footer__nav-item.footer__legal 
                        h3.footer__title Legal
                        a(href="") Privacy Policy
                        a(href="") Terms of Use
                    .footer__nav-item.footer__social 
                        h3.footer__title Social
                        .footer__item
                            a(href="")  
                                +twitter 
                                .footer__item-title Twitter
                        .footer__item
                            a(href="") 
                                +telegram 
                                .footer__item-title Telegram
                        .footer__item 
                            a(href="") 
                                +discord 
                                .footer__item-title Discord
                        .footer__item 
                            a(href="") 
                                +youtube 
                                .footer__item-title Youtube 
                        .footer__item 
                            a(href="") 
                                +medium 
                                .footer__item-title Medium 
                        .footer__item 
                            a(href="") 
                                +reddit 
                                .footer__item-title Reddit
                .footer__rights 
                    h4.footer__rights-title © 2021 Lorem. All rights reserved.




                
            

        