section.header__sub-hero
    .container 
        .header__sub-hero__wrapper
            .header__sub-hero__block
                .header__sub-hero__circle
                    +svg-icon1
                    .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                .header__sub-hero__piece_small
                .header__sub-hero__piece_big Lorem
            .header__sub-hero__block
                .header__sub-hero__circle
                    +svg-icon2
                    .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                .header__sub-hero__piece_small
                .header__sub-hero__piece_big Lorem
            .header__sub-hero__block
                .header__sub-hero__circle
                    +svg-icon3
                    .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                .header__sub-hero__piece_small
                .header__sub-hero__piece_big Lorem
        
