section.header 
    .bg.bg_header_wave
    .bg.bg_header_main
    .bg.under-main
    .bg.under-main.under-main_back
    .container
        .header__wrapper
            .header__menu
                .header__logo 
                    img(src="../icons/logo.svg", alt="logo") 
                .header__lang 
                    .header__icon 
                        img(src="../icons/flags/flag-USA.svg", alt="flag USA")
                    .header__input-lang En
                    .header__lang-btn
                    .header__lang_menu
                        a.header__lang_menu-item Lorem 
                        a.header__lang_menu-item Ipsum
                .header__hamburger 
                    .menu__hamburger#menu-burger
                        .bar1.bar
                        .bar2.bar
                        .bar3.bar
            .header__hero 
                h1.header__title Lorem ipsum dolor 
                .header__subtitle Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                button.btn.header__btn 
                    span Lorem
                button.btn.btn_unclaim.header__btn
                    span Lorem
            .header__sub-hero
                .header__sub-hero__block
                    .header__sub-hero__circle
                        +svg-icon1
                        .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                    .header__sub-hero__piece_small
                    .header__sub-hero__piece_big Lorem
                .header__sub-hero__block
                    .header__sub-hero__circle
                        +svg-icon2
                        .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                    .header__sub-hero__piece_small
                    .header__sub-hero__piece_big Lorem
                .header__sub-hero__block
                    .header__sub-hero__circle
                        +svg-icon3
                        .header__circles_wrapper
                        .header__sub-hero__circle_small
                        .header__sub-hero__circle_big            
                    .header__sub-hero__piece_small
                    .header__sub-hero__piece_big Lorem

                