section.social 
    .container 
        h2.title Join the community
        .subtitle A comprehensive mobile application that guarantees a unique user experience
        .social__content
            .social__wrapper 
                .social__block
                    .social__circle
                        .social__icon 
                            +twitter
                        .social__circle__wrapper
                            .social__circle_big
                            .social__circle_small
                    .social__piece_bg          
                    .social__piece_big  Twitter       
                    .social__piece_small
                .social__block
                    .social__circle
                        .social__icon 
                            +telegram
                        .social__circle__wrapper
                            .social__circle_big
                            .social__circle_small
                    .social__piece_bg          
                    .social__piece_big  Telegram      
                    .social__piece_small
                .social__block
                    .social__circle
                        .social__icon 
                            +discord
                        .social__circle__wrapper
                            .social__circle_big
                            .social__circle_small
                    .social__piece_bg          
                    .social__piece_big  Discord     
                    .social__piece_small
                .social__block
                    .social__circle
                        .social__icon 
                            +youtube
                        .social__circle__wrapper
                            .social__circle_big
                            .social__circle_small
                    .social__piece_bg          
                    .social__piece_big  Youtube     
                    .social__piece_small
                    