.about {
    padding-top: 27px;
    &__wrapper{
        margin-top: 4px;
        padding: 0 10px;
    }
    &__block{
        margin-top: 32px;
        padding: 36px 28px 28px;
        &:after{
            position: absolute;
            top: 72%;
            left: 5%;
            content: ' ';
            width: 90%;
            height: 149.95px;
            background: #FFFFFF;
            opacity: 0.3;
            border-radius: 41.4804px;
            z-index: -6;
        }
    }
    &__title{
        margin-top: 32px;
        font-family: Montserrat;
        font-weight: 600;
        font-size: 20px;
        color: $text-color;
        &::after{
            content: ' ';
            display: block;
            margin-top: 17px;
            width: 99%;
            height: 1px;
            background: $main-color;
        }
    }
    &__descr{
        margin-top: 19px;
        font-family: 'Pantone-bold', sans-serif;
        font-weight: 700;
        font-size: 15px;
        line-height: 26px;
        color: $text-color;
        opacity: 0.7;
    }
}