.app{
    padding-top: 22px;
    &__block{
        margin-top: 26px;
    }
    &__title{
        font-family: 'Pantone-bold';
        font-size: 20px;
        color: $main-color;
    }
    &__descr{
        margin-top: 8px;
        font-family: 'Pantone-regular';
        font-size: 15px;
        color: #4B6476;
        &::after{
            content: ' ';
            display: block;
            margin: 17px 0;
            width: 99%;
            height: 0px;
            border-top: 2px dashed $main-color;
        }
    }
    &__phone{
        margin-top: 57px;
        display: flex;
        justify-content: center;
        position: relative;
    }
    &__video{
        position: absolute;
        top: 45%;
        transform: translateY(-50%);
        left: 38%;
        span {
            font-family: 'Pantone-bold';
            font-size: 35px;
            text-align: center;
            color: $main-color;
            text-transform: uppercase;
            position: absolute;
            &::after{
                position: absolute;
                content: ' ';
                display: block;
                top: 75%;
                left:-1px;
                width: 189px;
                height: 0px;
                border-top: 2px dashed $main-color;
            }
        }
        
    }
    &__dots{
        position: absolute;
        &_1{
            top: -5%;
            left: 75%;
        }
        &_2{
            top: 89%;
            left: 0;
        }
    }

}   

