mixin about-block 
    .block.about__block
        .about__icon
            img(src="../icons/icon-search.svg", alt="icon-about")
        .about__title Lorem Ipsum
        .about__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam

mixin app-block 
    .app__item 
        .app__title Games
        .app__descr Access to several types of games in a single & intuitive platform.

