mixin block(imgUrl, title)
    .header__sub-hero__block
        .header__sub-hero__circle
            img(class!=attributes.class src=imgUrl)
            .header__sub-hero__circle_small
            .header__sub-hero__circle_big
        .header__sub-hero__piece_small
        .header__sub-hero__piece_big=title